.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowHome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //justify-content: space-around;
  justify-content: space-between;
  align-content: center;
}

.showComponentContainer {
  display: flex;
  flex-direction: row;
  gap: 5px;
}