.container {
  background-color: #f8f9fa;
  padding: 120px 25px 20px 95px;
  min-height: 93vh;
  min-width: 80vw;
}

.headingContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.containerBreadcrumb{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.bulkEditBtnContainer {
  @extend .btnContainer;
  gap: 25px;
}