.containerCard {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border-radius: 10px;
  background: #F1F1F1;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.bodyText {
  width: 70%;
}
