@import '@Style/app';

.iconContainer {
  position: map-deep-get($input, icon, position);
  box-sizing: map-deep-get($input, icon, box-sizing);
  top: map-deep-get($input, icon, top);
  left: map-deep-get($input, icon, left);
}
.iconContainerPrefix {
  @extend .iconContainer;
}

.iconContainerSuffixSmall {
  @extend .iconContainer;
  right: map-deep-get($input, icon, small, right);
  padding-top: map-deep-get($input, icon, small, padding-top);
  left: auto;
}

.iconContainerSuffixLarge {
  @extend .iconContainer;
  right: map-deep-get($input, icon, large, right);
  left: auto;
}

.iconContainerPrefixXLarge {
  @extend .iconContainer;
  top: map-deep-get($input, icon, prefixXlarge, top);
}

.container {
  position: relative;
  //width: map-get($input, width);

  &.smallContainer {
    //width: map-deep-get($input, size, small, width);
  }

  &.mediumContainer {
    //width: map-deep-get($input, size, medium, width);
  }

  &.largeContainer {
  }

  &.fullWidthContainer {
    width: 100%;
  }
}

.input {
  box-sizing: map-get($input, box-sizing);
  display: map-get($input, display);
  flex-direction: map-get($input, flex-direction);
  align-items: map-get($input, align-items);
  padding: map-get($input, padding);
  gap: map-get($input, gap);
  width: map-get($input, width);
  //height: map-get($input, height);
  background: map-get($input, background);
  border: map-get($input, border);
  border-radius: map-get($input, border-radius);
  flex: map-get($input, flex);
  order: map-get($input, order);
  flex-grow: map-get($input, flex-grow);
  font-family: map-get($input, font-family);

  &.small {
    width: map-deep-get($input, size, small, width);
    font-size: map-deep-get($input, size, small, font-size);
  }

  &.medium {
    //height: map-deep-get($input, size, medium, height);
    width: map-deep-get($input, size, medium, width);
    font-size: map-deep-get($input, size, medium, font-size);
  }

  &.large {
    font-size: map-deep-get($input, size, large, font-size);
  }

  &.fullWidth {
    width: 100%;
    height: 100%;
    font-size: map-deep-get($input, size, medium, font-size);
  }

  &.primary {
    border: map-deep-get($input, colorKey, primary, border);
  }

  &.secondary {
    border: map-deep-get($input, colorKey, secondary, border);
  }

  &.error {
    border: map-deep-get($input, colorKey, error, border);
    box-shadow: map-deep-get($input, colorKey, error, box-shadow);
  }

  &.success {
    border: map-deep-get($input, colorKey, success, border);
    box-shadow: map-deep-get($input, colorKey, success, box-shadow);
  }

  &.disabled {
    color: map-get($input, disabled, color);
    background: map-get($input, disabled, background);
    border: map-deep-get($input, disabled, border);
  }
  &.floatingDisplay {
    outline: 0;
    border-width: 0 0 1px;
    border-radius: 0;
    padding: 0;
    height: 25px;
    background: var(--Neutral-200, #E9E7EC);
  }
}