.container {
  display: flex;
  flex-direction: row;
  gap: 50px
}

.elementsPerPageSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.pageSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}