.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: center;
}

.card {
    display: flex;
    padding: 25px 20px;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.cardSelected {
    @extend .card;
    border: 2px solid var(--Button-500, #3f49fc);
    background: var(--Button-50, #dfe0ff);
}

.cardDisabled {
    @extend .card;
    background: var(--Neutral-300, #e0dde3);
}

.addNewCard {
    @extend .card;
    justify-content: space-between;
    border: 2px dashed var(--Neutral-500, #c0bbc5);
    background: var(--Neutral-50, #f1f1f1);
}

.addNewCardSelected {
    @extend .addNewCard;
    border: 2px solid var(--Button-500, #3f49fc);
    background: #fff;
}
