.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
}

.card {
  display: flex;
  padding: 25px 20px;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
  background: #FFF;
}

.addNewCard {
  @extend .card;
  justify-content: space-between;
  border: 2px dashed var(--Neutral-500, #C0BBC5);
  background: var(--Neutral-50, #F1F1F1);
}