.container{
  display: flex;
  flex-direction: column;
  padding: 6px 5px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  background: var(--Neutral-200, #E9E7EC);
  justify-content: space-between;
  width: 150px;
  height: 100%;
  min-height: 50px;
  max-height: 150px;
}

.leftTitleItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: auto;
}