@import '@Style/app';

.button {
  display: map-get($button, display);
  flex-direction: map-get($button, flex-direction);
  justify-content: map-get($button, justify-content);
  align-items: map-get($button, align-items);
  padding: map-get($button, padding);
  gap: map-get($button, gap);
  background: map-get($button, background);
  border-radius: map-get($button, border-radius);

  &.small {
    width: map-deep-get($button, size, small, width);
  }

  &.medium {
    width: map-deep-get($button, size, medium, width);
  }

  &.large {
    width: map-deep-get($button, size, large, width);
  }

  &.solid {
    // Solid variant styles (if any specific styles are needed)
  }

  &.outline {
    background: map-deep-get($button, variant, outline, background);
    border: map-deep-get($button, variant, outline, border);
  }

  &.ghost {
    background: map-deep-get($button, variant, ghost, background);
    border: map-deep-get($button, variant, ghost, border);
  }
}