.text {
  height: 18px;

  /* Body 03/bold */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  /* identical to box height, or 18px */
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  left: -20px;
  position: fixed;
  width: 75px;
  height: 41px;
  top: 50%;

  cursor: pointer;
  /* Piattaforma/Recensioni */
  background: #7161EF;
  border-radius: 10px 10px 0px 0px;
  transform: rotate(90deg);
}