.chart, .chartCardSurveys, .chartTable, .chartLineAdv, .chartLine, .chartVertical, .chartHorizontal, .chartVerticalTooltip, .ulChip {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.chart li, .chartCardSurveys li, .chartTable li, .chartLineAdv li, .chartLine li, .chartVertical li, .chartHorizontal li, .chartVerticalTooltip li, .ulChip li {
  display: flex;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
}
.chart span, .chartCardSurveys span, .chartTable span, .chartLineAdv span, .chartLine span, .chartVertical span, .chartHorizontal span, .chartVerticalTooltip span, .ulChip span {
  margin: 0 1em;
  display: block;
}
.chart span:before, .chartCardSurveys span:before, .chartTable span:before, .chartLineAdv span:before, .chartLine span:before, .chartVertical span:before, .chartHorizontal span:before, .chartVerticalTooltip span:before, .ulChip span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.radiusAll {
  border-radius: 500px;
}

.ulChip {
  align-items: center;
}

.chip {
  border-radius: 500px;
  width: 100px !important;
  height: 30px !important;
}

.chartVerticalTooltip li {
  width: 8%;
}

.chartHorizontal {
  flex-direction: column;
  padding-left: 0;
}

.chartVertical {
  margin-top: 10%;
}

.chartLine {
  align-items: center;
}

.chartLineAdv {
  align-items: flex-end;
}

.chartTable {
  width: 100% !important;
  max-width: 100% !important;
}

.chartCardSurveys {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3vw;
}

.tabella {
  background: #FFFFFF;
}

.liContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.containerInline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartCircles, .chartChirclesCenter {
  width: 89%;
  max-width: 89%;
  height: 90%;
  margin: 0 auto;
  background-size: 100% 90px;
  background-position: left top;
}
.chartCircles li, .chartChirclesCenter li {
  vertical-align: bottom;
  height: 90%;
}
.chartCircles span, .chartChirclesCenter span {
  margin: 0 1em;
  display: block;
}
.chartCircles span:before, .chartChirclesCenter span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.chartChirclesCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hole {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
}

.line {
  width: 80%;
  height: 3px;
  top: 90%;
  left: 20px;
  background-size: 80% 4px;
  background-origin: border-box;
  background-repeat: no-repeat;
  rotate: 335deg;
}


.line {
  width: 80%;
  height: 3px;
  top: 90%;
  left: 20px;
  background-size: 80% 4px;
  background-origin: border-box;
  background-repeat: no-repeat;
  rotate: 335deg;
}

.card {
  width: 290px;
  height: 130px;
  border-radius: 12px;
}

.downArrow {
  width: 100%;
  height: 130px;
  clip-path: polygon(68% 23%, 100% 40%, 100% 100%, 0 100%, 11% 59%);
}

.lineAdvanced {
  margin-bottom: 10px;
  width: 100%;
  height: 5px;
  background-size: 100% 20px;
  background-origin: border-box;
  rotate: 0deg;
}

.reviewsDiv, .reviewsCompetitorWithMargin, .reviewsDivWithMargin {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.allWidth {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.displayCol {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: space-evenly;
}

.shimmerException {
  background: linear-gradient(to right, #F6F6F6 8%, #d9d9d9 18%, #F6F6F6 33%);
  background-size: 1200px 100%;
}

.reviewsDivWithMargin {
  margin-top: 15px;
  margin-bottom: 50px;
}

.reviewsContainer {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 14px;
  padding: 30px;
  box-shadow: 0 16px 25px rgba(209, 213, 214, 0.35);
}

.cardSurveyContainer {
  display: flex;
  width: 28vw;
  height: 280px;
  border-radius: 17px;
  background: #fff;
  padding: 25px 25px 5px;
  margin-bottom: 40px;
}

.infoCardSurveys, .firstInfoListingHomeCard, .firstInfoCardSurveys {
  height: 20px;
  margin-bottom: 7px;
}

.firstInfoCardSurveys {
  margin-top: 10px;
}

.lastInfoCardSurveys {
  height: 28px;
  margin-bottom: 7px;
}

.footerCardSurveys {
  height: 20px;
  margin-top: 22px;
}

.cardContainerCol {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.topMargin {
  margin-top: 20px !important;
}

.bottomMargin {
  margin-bottom: 20px !important;
}

.skeletonLoader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 25px;
}

.line {
  border-radius: 10px;
  background-color: #e0e0e0;
  animation: shimmerEffect 1s infinite;
}

@keyframes shimmerEffect {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.containerLineAdvanced {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: baseline;
}

.line1 {
  position: relative;
  width: 100%;
  --size: 178px;
  --b: 5px;
  --p: 158px;
  --R: calc(237.9px + var(
          --b)/2);
  --_g: #0000 calc(99% - var(
          --b)),#000 calc(101% - var(--b)) 99%,#0000 101%;
  -webkit-mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g)) calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50% calc(50% + var(--size) / 2 + var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x;
  height: 167px;
}

.line2 {
  position: relative;
  bottom: 180px;
  width: 100%;
  --size: 240px;
  --b: 5px;
  --p: 602px;
  --R: calc(645px + var(
          --b)/2);
  --_g: #0000 calc(100% - var(
          --b)),#000 calc(101% - var(--b)) 99%,#0000 101%;
  -webkit-mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g)) calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50% calc(50% + var(--size) / 2 + var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x;
  height: 167px;
}

.line3 {
  rotate: 335deg;
  position: relative;
  bottom: 100px;
  width: 100%;
  --size: 240px;
  --b: 5px;
  --p: 602px;
  --R: calc(645px + var(
          --b)/2);
  --_g: #0000 calc(100% - var(
          --b)),#000 calc(101% - var(--b)) 99%,#0000 101%;
  -webkit-mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g)) calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50% calc(50% + var(--size) / 2 + var(--b) / 2)/calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x;
  height: 167px;
}

@media only screen and (max-width: 1200px) {
  .cardSurveyContainer {
    width: 42vw;
  }
}
.reviewIntegrationFlexContainer {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 75%;
}

.integrationTextContainer, .reviewIntegrationLocationTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reviewsIntegrationContainer {
  display: flex;
  flex-wrap: wrap;
  height: 6.5rem;
  width: 18rem;
  margin-bottom: 35px;
  margin-right: 20px;
  border-radius: 30px;
  padding-top: 18px;
  padding-left: 5px;
  box-shadow: 0 16px 25px rgba(209, 213, 214, 0.35);
}

.reviewsIntegrationWithMargin {
  display: inline-flex;
  width: 100%;
}

.reviewCompetitorFlexContainer {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  justify-content: space-between;
}

.reviewsCompetitorContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  box-shadow: 0 16px 25px rgba(209, 213, 214, 0.35);
  width: 290px;
  height: 130px;
  margin-top: 10px;
  margin-left: 0.5rem;
  border-radius: 12px;
  padding: 18px;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #888eff;
}

.reviewsMineCompetitorContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  box-shadow: 0 16px 25px rgba(209, 213, 214, 0.35);
  width: 290px;
  height: 130px;
  border-radius: 12px;
  padding: 18px;
  margin-top: 10px;
  background: #888eff;
  flex-direction: column;
  justify-content: space-between;
}

.reviewsCompetitorWithMargin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.smallH3 {
  font-family: "Montserrat", "Heebo", sans-serif !important;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  color: #321d48;
  margin-left: 2rem;
}

.smallH2 {
  margin-left: 0px;
}

.reviewsIntegrationLocaitonContainer {
  display: flex;
  flex-wrap: wrap;
  height: 6.5rem;
  width: 18rem;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 30px;
  padding-top: 18px;
  padding-left: 5px;
  box-shadow: 0 16px 25px rgba(209, 213, 214, 0.35);
}

.reviewIntegrationLocationFlexContainer {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
}

.cardListingHomeContainer {
  display: flex;
  width: 31%;
  height: 60%;
  background-color: #FFFFFF;
  border-radius: 17px;
  padding: 0;
  border: 2px solid #888EFF;
  flex-direction: column;
  font-family: "Montserrat", "Heebo", sans-serif !important;
}

@media (max-width: 1535px) and (min-width: 1366px) {
  .cardListingHomeContainer {
    width: 31%;
    height: auto;
  }
}
@media (max-width: 1365px) and (min-width: 896px) {
  .cardListingHomeContainer {
    width: 48%;
    height: auto;
  }
}
@media (max-width: 895px) and (min-width: 640px) {
  .cardListingHomeContainer {
    width: 70%;
    height: 60%;
  }
}
@media (max-width: 640px) {
  .cardListingHomeContainer {
    width: 100%;
    height: 60%;
  }
}
.firstInfoListingHomeCard {
  margin-top: 10px;
  margin-bottom: 25px;
}

.infoListingHomeCard {
  height: 20px;
  margin-bottom: 25px;
}

.lastInfoListingHomeCard {
  height: 28px;
  margin-bottom: 7px;
}

.footerListingHomeCard {
  height: 20px;
  margin-top: 22px;
}

.cardHeaderListingHome {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 58.5px;
  padding: 1em 1.5em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #3F49FC;
  outline: 2px solid #3F49FC;
}

.cardListingHome {
  display: flex;
  gap: 3vw;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 1536px) {
  .cardListingHome {
    justify-content: flex-start;
  }
}
.cardContainerColListingHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.listingHomeCardContainer {
  width: 100%;
}

.contentHeader {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.editMenuContainer {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editMenuHeader {
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

.saveButton {
  margin-left: auto;
  text-align: center;
  font-family: "Montserrat", "Heebo", sans-serif !important;
  height: 35px;
  width: 250px;
  border-radius: 25px !important;
  font-size: 14px;
  border: none;
  background-color: #3F49FC;
  font-weight: 700;
  transition: box-shadow 0.2s ease;
}

.saveButton:hover {
  background-color: #3F49FC !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.saveButton:active {
  background-color: #3F49FC !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.contentBody {
  width: 100%;
  display: inline-grid;
  background-color: #FFFFFF;
  padding: 2em;
}

.menuCreateHeader {
  display: inline-flex;
  width: 100%;
  margin-bottom: 2rem;
}

.menuName, .menuLang {
  font-weight: 700;
  margin-right: 3em;
  color: black;
}

.menuContainer {
  background-color: #f8f9fa;
  padding: 85px 35px 20px 95px;
  min-height: 93vh;
  min-width: 80vw;
}

@media only screen and (max-width: 600px) {
  .menuContainer {
    padding: 90px 30px 20px 70px;
    min-width: 60vw;
  }
}
.menuNameInput {
  height: 3em;
  width: 30em;
  color: rgba(50, 29, 72, 0.5490196078) !important;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid rgba(50, 29, 72, 0.5490196078);
  border-radius: 100px;
  background-color: transparent;
  margin-top: 1em;
}

input::placeholder {
  color: rgba(50, 29, 72, 0.5490196078) !important;
}

.menuNameInput:hover {
  border: 1.5px solid #3F49FC;
}

.menuLangInput {
  margin-top: 1em;
}

input::placeholder {
  color: rgba(50, 29, 72, 0.5490196078) !important;
}

.menuRowContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
  padding-right: 2em;
}

.menuCreateFooter {
  display: inline-flex;
  padding: 0;
  border: none;
}

.addMoreCategoryButton {
  display: inline-flex;
  align-items: center;
  vertical-align: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1.5px solid #321D48;
  border-radius: 25px;
  background-color: transparent;
  font-size: 14px;
  cursor: pointer;
  margin: 0.3rem 0.3rem 0.3rem 0;
  transition: box-shadow 0.2s ease;
}

.addMoreCategoryButton:hover {
  border-color: #3F49FC;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.addMoreCategoryButton:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.cardContainer {
  width: 100%;
  margin: 20px;
}

/*# sourceMappingURL=LoaderChart.module.css.map */
