.hoursContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-family: Montserrat;
}

.dateHours {
    align-self: flex-start;
    font-family: Montserrat;
}

.footer {
    display: inline-flex;
    margin-left: auto;
    align-self: flex-end;
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
}

.saveButton {
    margin-left: 10px;
    width: 7rem;
    text-align: center;
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
    height: 2.5rem;
    border-radius: 25px !important;
    font-size: 12px;
    border: none;
    background-color: #3f49fc;
    font-weight: 700;
    transition: box-shadow 0.2s ease;
}
.saveButtonDisabled {
    margin-left: 10px;
    width: 7rem;
    text-align: center;
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
    height: 2.5rem;
    border-radius: 25px !important;
    font-size: 12px;
    border: none;
    font-weight: 700;
    transition: box-shadow 0.2s ease;
}
.saveButton:hover {
    background-color: #3f49fc !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.saveButton:active {
    background-color: #3f49fc !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.cancelButton {
    width: 7rem;
    text-align: center;
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
    height: 2.5rem;
    border-radius: 25px !important;
    font-size: 12px;
    border: none;
    background-color: transparent;
    color: #3f49fc;
    font-weight: 700;
    transition: box-shadow 0.2s ease;
}
.cancelButton:hover {
    background-color: transparent !important;
    color: #3f49fc !important;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.cancelButton:active {
    background-color: transparent !important;
    color: #3f49fc !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.addDate {
    margin-bottom: 3rem;
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    color: #3f49fc;
    cursor: pointer;
}
