.holidayContainer {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.holidayContent {
    // align-items: flex-end;
    display: flex;
    width: 100%;
    gap: 50px;
}

.dayCheckbox {
    display: flex;
    gap: 20px;
}

.timePickerContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}
