.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 80%;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chipsContainer {
  display: flex;
  gap: 10px;
}