@import '@Style/app';

.iconContainer {
  position: map-deep-get($input, icon, position);
  box-sizing: map-deep-get($input, icon, box-sizing);
  top: map-deep-get($input, icon, top);
  left: map-deep-get($input, icon, left);
}
.iconContainerPrefix {
  @extend .iconContainer;
}

.iconContainerSuffixSmall {
  @extend .iconContainer;
  right: map-deep-get($input, icon, small, right);
  padding-top: map-deep-get($input, icon, small, padding-top);
}

.iconContainerSuffixLarge {
  @extend .iconContainer;
  right: map-deep-get($input, icon, large, right);
}

.container {
  position: relative;
  width: map-get($input, width);

  &.smallContainer {
    width: map-deep-get($input, size, small, width);
  }

  &.mediumContainer {
    width: map-deep-get($input, size, medium, width);
  }

  &.largeContainer {
  }
}

.input {
  box-sizing: map-get($input, box-sizing);
  display: map-get($input, display);
  flex-direction: map-get($input, flex-direction);
  align-items: map-get($input, align-items);
  //padding: map-get($input, padding);
  gap: map-get($input, gap);
  width: map-get($input, width);
  height: map-get($input, height);
  border: map-get($input, border);
  border-radius: map-get($input, border-radius);
  flex: map-get($input, flex);
  order: map-get($input, order);
  flex-grow: map-get($input, flex-grow);
  line-height: map-deep-get($input, select, line-height);

   &.small {
    width: map-deep-get($input, size, small, width);
  }

  &.medium {
    height: map-deep-get($input, size, medium, height);
    width: map-deep-get($input, size, medium, width);
  }

  &.large {
  }

  &.fontSizeMedium {
    font-size: map-deep-get($input, fontSize, medium, font-size);
    line-height: map-deep-get($input, fontSize, medium, line-height);
    height: map-deep-get($input, fontSize, medium, height);
  }

  &.primary {
    border: map-deep-get($input, colorKey, primary, border);
  }

  &.secondary {
    border: map-deep-get($input, colorKey, secondary, border);
  }

  &.error {
    border: map-deep-get($input, colorKey, error, border);
    box-shadow: map-deep-get($input, colorKey, error, box-shadow);
  }

  &.success {
    border: map-deep-get($input, colorKey, success, border);
    box-shadow: map-deep-get($input, colorKey, success, box-shadow);
  }

  &.disabled {
    color: map-get($input, disabled, color);
    background: map-get($input, disabled, background);
    border: map-deep-get($input, disabled, border);
  }

}

.input:focus {
  outline: none;
}

.menu {
  border-radius: 15px !important;
  box-shadow: none !important;
}

.menuItem {
  color: black !important;
  display: -webkit-inline-flex!important;
  z-index: 10000!important;
  display: -ms-inline-flexbox!important;
  display: inline-flex!important;
  -webkit-align-items: center!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  -webkit-box-pack: center!important;
  -ms-flex-pack: center!important;
  -webkit-justify-content: center!important;
  justify-content: center!important;
  position: relative!important;
  box-sizing: border-box!important;
  -webkit-tap-highlight-color: transparent!important;
  background-color: transparent!important;
  outline: 0!important;
  border: 0!important;
  margin: 0!important;
  border-radius: 0!important;
  padding: 0!important;
  cursor: pointer!important;
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  vertical-align: middle!important;
  -moz-appearance: none!important;
  -webkit-appearance: none!important;
  -webkit-text-decoration: none!important;
  text-decoration: none!important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif!important;
  font-weight: 400!important;
  font-size: 1rem!important;
  line-height: 1.5!important;
  letter-spacing: 0.00938em!important;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-pack: start!important;
  -ms-flex-pack: start!important;
  -webkit-justify-content: flex-start!important;
  justify-content: flex-start!important;
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  position: relative!important;
  -webkit-text-decoration: none!important;
  text-decoration: none!important;
  min-height: 48px!important;
  padding-top: 6px!important;
  padding-bottom: 6px!important;
  box-sizing: border-box!important;
  white-space: nowrap!important;
  padding-left: 16px!important;
  padding-right: 16px!important;
}