.standardContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.openDayRow {
    display: inline-flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 5rem;
    align-items: baseline;
    gap: 30px;
}

.dayLabelContainer {
    min-width: 75px;
}

.timePickerContainer {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
}
