.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.body {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  background: var(--Neutral-50, #F1F1F1);
}

.bodyText {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

