.timePickerContainer {
    display: flex;
    gap: 20px;
    // margin-right: 1em;
    // font-family: Montserrat;
}

.timePickers {
    // margin-left: 1em;
    display: flex;
    gap: 20px;
}

.picker {
    height: 3em;
    width: 12em;
    border: 1.5px solid #321d488c;
    border-radius: 100px;
    border-inline-end-width: 1.5px;
}

.timePickerContainer::placeholder,
.timePickers::placeholder,
.picker::placeholder {
    color: #321d488c !important;
}

.picker:hover {
    border: 1.5px solid #3f49fc;
}

.deleteSpecialHoursContainer {
    align-self: center;
}

.deleteImg {
    cursor: pointer;
}

.addSpecialHoursContainer {
    cursor: pointer;
    align-self: center;
}

.plusOutlined {
    vertical-align: 0;
}

.specialHoursActionsContainer {
    display: flex;
    gap: 15px;
}
