.appHeader {
  z-index: 999 !important;
  width: 95% !important;
  position: fixed !important;
  padding: 20px 20px !important;
}

.containerHeader{
  display: flex !important;
  justify-content: space-between !important;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.containerHeaderGeneral {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftHeaderContainer {
  @extend .containerHeaderGeneral;
  gap: 15px
}

.rightHeaderContainer {
  @extend .containerHeaderGeneral;
  gap: 15px;
}