//@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$backgrounds: (
        button: (
                900: #00006B,
                800: #0C14A1,
                700: #0C16C8,
                600: #0F1AF4,
                500: #3F49FC,
                400: #797FFD,
                300: #A1A6FE,
                200: #BDC0FE,
                100: #D1D3FE,
                50: #DFE0FF,
        ),
);

$default-colors: (
        primary: #321D48,
        secondary: #FFFFFF,
        tertiary: #9D96A5
);

$typography: (
        headline: (
                h1: (
                        fontSize: 48px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 56.25px
                ),
                h2: (
                        fontSize: 40px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 46.88px
                ),
                h3: (
                        fontSize: 32px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 37.5px
                ),
                h4: (
                        fontSize: 28px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 32.81px
                ),
                h5: (
                        fontSize: 24px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 28.13px
                ),
                h6: (
                        fontSize: 20px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 23.44px
                ),
                bodyBig: (
                        fontSize: 20px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 25px
                ),
                bodyMedium: (
                        fontSize: 16px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 20px
                ),
                bodySmall: (
                        fontSize: 14px,
                        fontWeight: (
                                light: 300,
                                normal: 400,
                                bold: 700
                        ),
                        lineHeight: 17.5px
                ),
        ),
);

$button: (
        display: flex,
        flex-direction: row,
        justify-content: center,
        align-items: center,
        padding: 15px 33px,
        gap: 10px,
        background: #3F49FC,
        border: none,
        border-radius: 10px,
        font-size: 20px,
        font-family: 'Roboto',
        font-style: normal,
        font-weight: 400,
        line-height: 125%,
        flex: none,
        order: 0,
        flex-grow: 0,
        size: (
                small: (
                        font-size: 14px,
                        width: 42px,
                        height: 32px,
                ),
                medium: (
                        font-size: 16px,
                        width: 84px,
                        height: 44px,
                ),
                large: (
                        font-size: 20px,
                        width: 125px,
                        height: 55px,
                ),
        ),
        variant: (
                solid: (
                        color: #FFFFFF,
                ),
                outline: (
                        background: none,
                        border: 2px #3F49FC solid,
                        color: #3F49FC,
                ),
                ghost: (
                        border: none,
                        background: none,
                        color: #3F49FC,
                ),
        ),
        disabled: (
                color: #FFFFFF,
                background: #C0BBC5,
                variant: (
                        solid: (
                                color: #FFFFFF,
                                background: #C0BBC5,
                        ),
                        outline: (
                                background: none,
                                border: 2px #C0BBC5 solid,
                                color: #C0BBC5,
                        ),
                        ghost: (
                                border: none,
                                background: none,
                                color: #C0BBC5,
                        ),
                ),
        ),
        iconOnly: (
                small: (
                        width: 32px,
                        height: 32px,
                ),
                medium: (
                        width: 44px,
                        height: 44px,
                ),
                large: (
                        width: 55px,
                        height: 55px,
                )
        )
);


$input: (
        box-sizing: border-box,
        display: flex,
        flex-direction: row,
        align-items: center,
        padding: 12px 16px,
        gap: 9px,
        width: 500px,
        height: 44px,
        background: #FFFFFF,
        border: 1px solid #9D96A5,
        border-radius: 10px,
        flex: none,
        order: 1,
        flex-grow: 0,
        font-family: 'Roboto',
        font-style: normal,
        font-weight: 400,
        font-size: 14px,
        line-height: 125%,
        color: #321D48,
        size: (
          small: (
            width: 200px
          ),
          medium: (),
          large: ()
        ),
        colorKey: (
          primary: (
            border: 1px solid #9D96A5,
          ),
          secondary: (
            border: 1px solid #3F49FC,
          ),
          error: (
                  border: 1px solid #FF608B,
                  box-shadow: 0px 0px 0px 3px #FFBCCE
          ),
          success: (
                  border: 1px solid #34E0A1,
                  box-shadow: 0px 0px 0px 3px #A9F2D7
          )
        ),
        disabled: (
          border: 1px solid #9D96A5,
          background: #F1F1F1,
          color: #9D96A5
        ),
        icon : (
          position: absolute,
          box-sizing: border-box,
          top: 25%,
          small: (
            padding-top: 3px,
            right: 3%
          ),
          large: (
            right: 3%
          )
        )
);

$checkbox: (
    container: (
      display: block,
      position: relative,
      padding-left: 35px,
      margin-bottom: 5px,
      cursor: pointer,
      font-size: 22px,
      -webkit-user-select: none,
      -moz-user-select: none,
      -ms-user-select: none,
      user-select: none,
      input: (
        position: absolute,
        opacity: 0,
        cursor: pointer,
        height: 0,
        width: 0,
      ),
      checkmarkAfter: (
        left: 8px,
        top: 2px,
        width: 3px,
        height: 10px,
        //checkmark color
        border: solid #3F49FC,
        border-width: 0 2px 2px 0,
        -webkit-transform: rotate(45deg),
        -ms-transform: rotate(45deg),
        transform: rotate(45deg),
        secondary: (
          border: solid #0C16C8
        ),
        disabled: (
          border: solid #9D96A5
        )
      ),
      checkmarkAfterRadio: (
              left: 3.5px,
              top: 3.5px,
              width: 10px,
              height: 10px,
        //checkmark color
              border: solid #3F49FC,
              -webkit-transform: rotate(45deg),
              -ms-transform: rotate(45deg),
              transform: rotate(45deg),
              border-radius: 10px,
              secondary: (
                      background: #0C16C8,
                      border: solid #0C16C8
              ),
              disabled: (
                      background: #9D96A5,
                      border: solid #9D96A5
              )
      )
    ),
    checkmark: (
      position: absolute,
      top: 0,
      left: 0,
      height: 20px,
      width: 20px,
      background-color: #FFF,
      //checkbox border color
      border: 2px solid #321D48,
      border-radius: 6px,
      after: (
        content: "",
        position: absolute,
        display: none,
      ),
      primary: (
        background-color: #FFF,
        border: 2px solid #321D48,
      ),
      primaryClicked: (
        background-color: #FFF,
        border: 2px solid #3F49FC,
      ),
      secondary: (
        background-color: #DFE0FF,
        border: 2px solid #0C16C8,
      ),
      shadow: (
        background-color: #FFF,
        border: 2px solid #3F49FC,
        box-shadow: 0px 0px 0px 3px #A1A6FE
      ),
      disabled: (
        background-color: #F1F1F1,
        border: 2px solid #9D96A5,
      ),
      radius: (
        border-radius: 25px
      )
    ),

)