@import './variables';
@import './functions';


// Button.module.scss
:root {
  --primary-icon-color: #FFFFFF;
  --secondary-icon-color: #3F49FC;
  --disabled-icon-color: #C0BBC5;

  --small-icon-size: 16;
  --medium-icon-size: 20;
  --large-icon-size: 24;
}