@import '@Style/app';

/* Customize the label (the container) */
.container {
  display: map-deep-get($checkbox, container, display);
  position: map-deep-get($checkbox, container, position);
  padding-left: map-deep-get($checkbox, container, padding-left);
  margin-bottom: map-deep-get($checkbox, container, margin-bottom);
  cursor: map-deep-get($checkbox, container, cursor);
  font-size: map-deep-get($checkbox, container, font-size);
  -webkit-user-select: map-deep-get($checkbox, container, -webkit-user-select);
  -moz-user-select: map-deep-get($checkbox, container, -moz-user-select);
  -ms-user-select: map-deep-get($checkbox, container, -ms-user-select);
  user-select: map-deep-get($checkbox, container, user-select);
  margin-bottom: 0px;
}

.containerWithDropdown {
  @extend .container;
  padding-left: 30px;
}
/* Hide the browser's default checkbox */
.container input {
  position: map-deep-get($checkbox, container, input, position);
  opacity: map-deep-get($checkbox, container, input, opacity);
  cursor: map-deep-get($checkbox, container, input, cursor);
  height: map-deep-get($checkbox, container, input, height);
  width: map-deep-get($checkbox, container, input, width);
}

/* Create a custom checkbox */
.checkmark {
  position: map-deep-get($checkbox, checkmark, position);
  top: map-deep-get($checkbox, checkmark, top);
  left: map-deep-get($checkbox, checkmark, left);
  height: map-deep-get($checkbox, checkmark, height);
  width: map-deep-get($checkbox, checkmark, width);
  background-color: map-deep-get($checkbox, checkmark, background-color);
  border: map-deep-get($checkbox, checkmark, border);
  border-radius: map-deep-get($checkbox, checkmark, border-radius);

  &.primary {
    background-color: map-deep-get($checkbox, checkmark, primary, background-color);
    border: map-deep-get($checkbox, checkmark, primary, border);
  }

  &.primaryClicked {
    background-color: map-deep-get($checkbox, checkmark, primaryClicked, background-color);
    border: map-deep-get($checkbox, checkmark, primaryClicked, border);
  }

  &.secondary {
    background-color: map-deep-get($checkbox, checkmark, secondary, background-color);
    border: map-deep-get($checkbox, checkmark, secondary, border);
  }

  &.shadow {
    background-color: map-deep-get($checkbox, checkmark, shadow, background-color);
    border: map-deep-get($checkbox, checkmark, shadow, border);
    box-shadow: map-deep-get($checkbox, checkmark, shadow, box-shadow);
  }

  &.disabled {
    background-color: map-deep-get($checkbox, checkmark, disabled, background-color);
    border: map-deep-get($checkbox, checkmark, disabled, border);
  }

  &.radius {
    border-radius: map-deep-get($checkbox, checkmark, radius, border-radius)
  }
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: map-deep-get($checkbox, checkmark, after, content);
  position: map-deep-get($checkbox, checkmark, after, position);
  display: map-deep-get($checkbox, checkmark, after, display);
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: map-deep-get($checkbox, container, checkmarkAfter, left);
  top: map-deep-get($checkbox, container, checkmarkAfter, top);
  width: map-deep-get($checkbox, container, checkmarkAfter, width);
  height: map-deep-get($checkbox, container, checkmarkAfter, height);
  border: map-deep-get($checkbox, container, checkmarkAfter, border);
  border-width: map-deep-get($checkbox, container, checkmarkAfter, border-width);
  -webkit-transform: map-deep-get($checkbox, container, checkmarkAfter, -webkit-transform);
  -ms-transform: map-deep-get($checkbox, container, checkmarkAfter, -ms-transform);
  transform: map-deep-get($checkbox, container, checkmarkAfter, transform);
}

.containerRadio .checkmark:after {
  left: map-deep-get($checkbox, container, checkmarkAfterRadio, left);
  top: map-deep-get($checkbox, container, checkmarkAfterRadio, top);
  width: map-deep-get($checkbox, container, checkmarkAfterRadio, width);
  height: map-deep-get($checkbox, container, checkmarkAfterRadio, height);
  border: map-deep-get($checkbox, container, checkmarkAfterRadio, border);
  background: map-deep-get($checkbox, container, checkmarkAfterRadio, background);
  //border-width: map-deep-get($checkbox, container, checkmarkAfterRadio, border-width);
  -webkit-transform: map-deep-get($checkbox, container, checkmarkAfterRadio, -webkit-transform);
  -ms-transform: map-deep-get($checkbox, container, checkmarkAfterRadio, -ms-transform);
  transform: map-deep-get($checkbox, container, checkmarkAfterRadio, transform);
  border-radius: map-deep-get($checkbox, container, checkmarkAfterRadio, border-radius);;
}

.containerSecondary {
}

.containerDisabled {
}

.containerRadioSecondary {
}

.containerRadioDisabled {
}

.containerSecondary .checkmark:after {
  border: map-deep-get($checkbox, container, checkmarkAfter, secondary, border);
  border-width: map-deep-get($checkbox, container, checkmarkAfter, border-width);
}

.containerDisabled .checkmark:after {
  border: map-deep-get($checkbox, container, checkmarkAfter, disabled, border);
  border-width: map-deep-get($checkbox, container, checkmarkAfter, border-width);
}

.containerRadioSecondary .checkmark:after {
  border: map-deep-get($checkbox, container, checkmarkAfterRadio, secondary, border);
  background: map-deep-get($checkbox, container, checkmarkAfterRadio, secondary, background);
}

.containerRadioDisabled .checkmark:after {
  border: map-deep-get($checkbox, container, checkmarkAfterRadio, disabled, border);
  background: map-deep-get($checkbox, container, checkmarkAfterRadio, disabled, background);
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.textContainerDropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hasContainerClass {
  height: map-deep-get($checkbox, hasContainer, height);
  border-radius: map-deep-get($checkbox, hasContainer, border-radius);
  border: map-deep-get($checkbox, hasContainer, border);
  gap: map-deep-get($checkbox, hasContainer, gap);
  flex-direction: map-deep-get($checkbox, hasContainer, flex-direction);
  display: map-deep-get($checkbox, hasContainer, display);
  width: map-deep-get($checkbox, hasContainer, width);
  justify-content: map-deep-get($checkbox, hasContainer, justify-content);
  align-items: map-deep-get($checkbox, hasContainer, align-items);

  &.hasContainerClassDisabled {
    background: map-deep-get($checkbox, hasContainer, disabled, background);
  }

  &.hasContainerClassSecondary {
    border: map-deep-get($checkbox, hasContainer, secondary, border);
    box-shadow: map-deep-get($checkbox, hasContainer, secondary, box-shadow);
  }
}

.dropdownOptionsContainer {
  width: 214px;
  position: absolute;
  left: 25px;
  z-index: 20;

  border-radius: 10px;
  background: #FFF;
  box-shadow: 6px 3px 30px 0px rgba(50, 29, 72, 0.10);
}

.paddingContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}