.sidebarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  height: 45px;
  border-radius: 10px;

}

.divider {
  width: 65px;
  height: 0;
  border: 2px solid #F7F7F7;
  transform: rotate(90deg);
}

.settingsSidebar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}