.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  position: fixed;
  height: 75%;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  gap: 14px;
  top: 15%;
  left: 21px;
}

.titleContainer {
  display: flex;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 10px 10px 0px 0px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 15px
}