@import '@Style/app';

.container {
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  height: calc(100% - 40px);
}

.containerReverse {
  @extend .container;
  flex-direction: column-reverse;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerReverse {
  @extend .header;
  justify-content: end;
  margin-top: 10px;
}

.tableContainer {
  overflow-x: auto;
  margin-top: 20px;
}

.rowSelectionContainer {
  display: inline-flex;
  height: 44px;
  padding: 0px 10px;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;

  border-radius: 10px;
  border: 2px solid #321D48;
  background: #FFF;
}


.table {
  width: 100%;
  border-radius: 10px;
  gap: 3px;
}

.th {
  cursor: pointer;
  padding: 16px 24px;
  gap: 10px;
  background: var(--Neutral-200, #E9E7EC);

  color: var(--Neutral-900, #321D48);

  /* Body02/Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%; /* 20px */
  text-align: start;
}

.td {
  padding: 16px 24px;
  gap: 10px;
  align-self: stretch;
  background: #FFF;

  color: var(--Neutral-900, #321D48);
  /* Body02/regular */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 20px */

  text-align: start;
}