.heading{
  font-family: "Montserrat", "Heebo", sans-serif !important;
  font-weight: bold;
  text-align: left;
  color: #321d48;
  font-size: 14px;
  padding-bottom: 15px;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

.wrapperDiv{
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.specialIcon{
  position: relative;
  top: 15px;
  right: 0px;
  float: right;
  cursor: pointer;
}

.headingDiv {
  display: flex;
}

.tooltipDiv {
  display: flex;
  align-self: baseline;
}

.tooltipText {
  color: black;
  background-color: white;
  font-size: 0.9em;
  line-height: 1.25em;
}

.infoIcon {
  height: 0.8em;
  width: 0.8em;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  color: #3f49fc;
}