.progressBar {
  height: 32px;
  border-radius: 10px;
  background: #F1F1F1;
  box-shadow: -2px 2px 5px 0px rgba(50, 29, 72, 0.25) inset;
}

.progress {
  height: 100%;
  border-radius: 10px;
  background: #FF608B;
  width: 0%;
}