.container {
  border-radius: 10px;
  background: #FFF;
  height: 400px;
  padding: 20px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.tagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.leftItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.reviewContainer {
  width: 608px;
  height: 65px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.placeholderImg {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #C0BBC5;
}