.moreHoursContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.moreHoursTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttonContainer button {
    width: 42px;
}

.deleteMoreHours {
    margin-right: auto;
    margin-left: 0;
}

.deleteButton {
    font-family: 'Montserrat', 'Heebo', sans-serif !important;
    width: 10rem;
    border: none;
    background-color: blue;
    height: 2.5rem;
    font-size: 12px;
}

.labelContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

// .saveButton {
//     margin-left: 10px;
//     width: 7rem;
//     text-align: center;
//     font-family: 'Montserrat', 'Heebo', sans-serif !important;
//     height: 2.5rem;
//     border-radius: 25px !important;
//     font-size: 12px;
//     border: none;
//     background-color: #3f49fc;
//     font-weight: 700;
//     transition: box-shadow 0.2s ease;
// }
// .saveButton:hover {
//     background-color: #3f49fc !important;
//     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
// }
// .saveButton:active {
//     background-color: #3f49fc !important;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
// }

// .cancelButton {
//     width: 7rem;
//     text-align: center;
//     font-family: 'Montserrat', 'Heebo', sans-serif !important;
//     height: 2.5rem;
//     border-radius: 25px !important;
//     font-size: 12px;
//     border: none;
//     background-color: blue;
//     color: #3f49fc;
//     font-weight: 700;
//     transition: box-shadow 0.2s ease;
// }
// .cancelButton:hover {
//     background-color: transparent !important;
//     color: #3f49fc !important;
//     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
// }
// .cancelButton:active {
//     background-color: transparent !important;
//     color: #3f49fc !important;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
// }
