.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px 29px;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.starsContainer {
  display: flex;
  flex-direction: row;
}